@keyframes colorCycle{
  from {brackground-color: pink;}
  to {background-color: red;}

     }
body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #f0f0f0;
  
.bi, .bi-snow2 {
      width: 50px;
      height: 50px;
      background-color: #3498db;
      border-radius: 50%;
      position: relative;
      animation: bounce 2s infinite;
    }

  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
  
  
